.DS_Store
node_modules
package-lock.json
yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store
.env
.env.*
coverage
.vscode
.idea
*.log
pnpm-debug.log*
*.tsbuildinfo
dist
packages/backend/dist
packages/frontend/dist
